		<!-- jQuery CDN -->
		<script
		  src="https://code.jquery.com/jquery-3.1.1.min.js"
		  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		  crossorigin="anonymous"></script>

		<!-- Bootstrap JS CDN -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <footer class="footer">
          <div class="container">   
            <div class="row"> 
                <div class="col-md-6 col-xs-12">
                    <p class = "linkinme">VIT Food Reviewer - © 2018 Created by <a href="/">Sayon Palit </a></p>
                </div>
                <div class="col-md-6 col-xs-12">
                    <ul class="social-links">
                        <li><a href="https://www.linkedin.com/in/sayon-palit-441270137/" target="_blank">
                            <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_in_20x15.png" width="auto" height="30" alt="View Tony Lanera LinkedIn profile" style="vertical-align:middle;" border="0"></a></li>
                        <li><a class="glyphicon glyphicon-envelope glyphicon-size" href="mailto:SayonPalit@sayon.palit@gmail.com"></a></li>
                        <li><a class="glyphicon glyphicon-phone glyphicon-size" href="tel:xxxxxxx"></a></li>
                        <li><a href="https://github.com/sayonpalit2599" target="_blank">
                            <img src="https://a248.e.akamai.net/assets.github.com/images/icons/emoji/octocat.png" width="auto" height="30" alt="View Tony Lanera Github profile"></a></li>
                        <li><a class="glyphicon glyphicon-file glyphicon-size" href="#"></a></li>
                    </ul>
                </div>
            </div>
          </div>
      </footer>
	</body>
</html>